<!-- "partials/portfolio/piece.ejs" -->


<% portfolios.slice(0,10).forEach(piece => { %>
    <div class="portfolio-div-h">
        <a href="/portfolio/<%= piece.slug %>">
            <img src="<%= piece.cover.url %>" alt="" class="portfolio-image-h">
            <h3 class="portfolio-name"><%= piece.name %></h3>
        </a>
    </div>
<% }); %>




