<!-- "partials/cta" -->


<div class="container-fluid cta-section">
    <div class="container row">
        <div class="col-sm-6 cta-text">
            <h3>Have a project in mind?</h3>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-lg btn-info cta-btn">Let's Talk</button>
        </div>
    </div>
</div>