<!-- views/partials/hero.ejs -->

<div class="jumbotron hero">
    <h1>Hi, my name is<br>Bi Nguyen.</h1>
    <h2>I'm a ui designer &amp;<br>full stack web app developer.</h2>
    <img src="images/svg/avataaars-bn.svg" alt="Code Nguyen Avatar" width="200" height="200" class="d-block m-auto">
</div>