<!-- "partials/blog/post" -->

<% blogs.forEach(post => { %>
    
    <div class="blog-div-h post-1">
        <a href="/blog/<%= post.slug %>"></a>
            <img src="<%= post.cover.url %>" alt="" class="blog-image-h">
        </a>
    </div>

<% }); %>
