<!-- "partials/blog/post" -->

<% blogs.slice(0,3).forEach(post => { %>
    
    <div class="blog-div-h">
        <a href="/blog/<%= post.slug %>">
            <img src="<%= post.cover.url %>" alt="" class="blog-image-h">
            <h3 class="blog-title-h"><%= post.title %></h3>
            <h4 class="blog-subtitle-h"><%= post.subtitle %></h4>
        </a>
    </div>

<% }); %>
