html {
    overflow-x: hidden;
}
  
body {
    font-family: 'Noto Serif', serif;
    overflow-x: hidden;
    padding-top: 68px;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

h1, h2, h3, h4, h5, h6, .nav-link {
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: -1px;
    line-height: 1.5;
}

.btn {
    background-color: #65c9ff;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 50px; 
    height: 50px; 
    display: inline-block;
}

.navbar-brand p {
    letter-spacing: -1px;
    display: inline-block;
    margin-bottom: 0;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
    color: black !important;
}

/*********************************************************
Mobile first styles 
*********************************************************/

/*********************************************************
Home page 
*********************************************************/


.hero {
    background-color: #fff;   
    padding: 3rem 1rem;
    margin-bottom: 0; 
}

.hero *, .bio-section * {
    margin-bottom: 50px;
    text-align: center;
}

.hero h2 {
    font-size: 1.5rem;
}

.bio-section {
    color: #fff;
    background-color: #3c4f5c;
    text-align: center;
    padding: 3rem 1rem;
}

.bio-section p {
    line-height: 2;
}

.skills-section {
    background-color: #e9ecef;
}


.skills-container {
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
    padding: 3rem 1rem;
    position: relative;
    bottom: 48px;
}

.skills-section h3 {
    text-align: center;
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 1rem; 
}


.portfolio-section, .testimonial-section, .blog-section, .contact-section, .blog {
    padding: 3rem 1rem;
}

.portfolio-section h1, .testimonial-section h1, .testimonial-name, .contact-form-div h1 {
    margin-bottom: 40px;
    text-align: center;
}

.portfolio-section .container, .blog-section .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.portfolio-div-h, .blog-div-h {
    margin: 20px auto;
    position: relative;
    width: 350px;
    text-align: center;
}

.portfolio-name {
    color: black;
}

.portfolio-image-h, .blog-image-h {
    display: inline-block;
    width: 100%;
    box-shadow: 0 8px 6px -6px #e9ecef;
    border: 3px solid #e9ecef;
    border-radius: 10px;
}




.testimonial-image-div {
    background-image: url("../images/jpeg/profile.jpg");
    background-size: cover;
    background-position: center;
    border: 1px solid #e9ecef;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
}

.blockquote p {
    font-size: 14px;
}


.blockquote {
    display: block;
    margin: auto;
}

.cta-section .container {
    background-color: #e9ecef;
    border-radius: 10px;
    padding: 50px;
    margin: 3rem auto 6rem;
    position: relative;
}

.cta-btn, .cta-text {
    display: block;
    margin: auto;
    text-align: center;
}

.blog-section {
    color: #fff;
    background-image: radial-gradient(circle, #5ffbf1, #46eefa, #41dfff, #52cffe, #69bff8, #6cb0e7, #6da1d5, #6c92c3, #5c81a8, #4f708e, #456074, #3c4f5c);
    text-align: center;
}


.blog-section .container {
    margin: auto;
}

.blog-title-h {
    font-size: 1rem;
    word-spacing: 0.1875rem;
}

.blog-image-h {
    margin-bottom: 1rem;
}

.blog-title-h {
    font-size: 24px;
    color: #fff;
}

.blog-subtitle-h {
    font-size: 16px;
    color: #fff;
}

.read-more-posts-btn {
    display: block;
    margin: 1rem auto;
}

/*******************************************************
 Footer
 *******************************************************/

.footer {
    color: #fff;
}

.footer h3 {
    font-size: 24px;
}

.footer p {
    font-size: 14px;
}

.footer-top {
    padding: 3rem 1rem 0;
}

.footer-hr {
    border-bottom: 1px solid #fff;
}

.footer-bottom {
    padding: 0;
}

.footer-nav {
    margin-bottom: 2rem;
}

.footer-link {
    color: #fff;
    text-decoration: underline;
}

.footer-link:hover {
    color:  #65c9ff;
}

.input-group * {
    border-bottom-left-radius: 0 !important;
}

.subscribe-input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.subscribe-btn {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.footer .nav-link {
    color: #fff !important;
}

.signature {
    text-align: center;
    font-size: 10px;
    margin-bottom: 0;
}

/*******************************************************
 Footer End
 *******************************************************/


/*******************************************************
Blog page 
*******************************************************/

.feature-blog {
    margin: 3rem auto;
}

.feature-blog-image {
    width: 100%;
    display: block;
    margin: auto;
}

.feature-title, .other-title {
    color: #3c4f5c;
    font-size: 24px;
    font-weight: bold;
}

.other-title {
    font-size: 18px;
}

.feature-subtitle, .other-subtitle {
    color: #3c4f5c;
    font-size: 14px;
    letter-spacing: 0px;
}

.feature-link {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog-hr {
    border-bottom: 1px solid #3c4f5c;
    width: 100%;
}

.author-div, .post-author-div {
    display: flex;
    align-items: center;
}

.author-image-div, .post-author-image {
    background-image: url("../images/jpeg/profile.jpg");
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.author-name-div, .post-author-meta {
    margin-left: 20px;
}

.author-name-div p, .other-post-div p, .post-author-meta p {
    margin-bottom: 0;
    font-size: 14px;
}

.other-posts-section {
    margin: 3rem auto;
}

.other-post-div {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 50px;
    padding: 0;
}

.other-post-image {
    width: 100%;
    display: inline-block;
    margin: auto;
}

.add-this {
    margin-top: 0.5rem;
}

/*******************************************************
Blog Page End
*******************************************************/

/*******************************************************
Individual Post page 
********************************************************/

.post-container {
    max-width: 680px;
    margin: 3rem auto;
}

.post-title {
    font-size: 34px;
    margin-bottom: 1rem;
}

.post-subtitle {
    font-size: 18px;
    color: rgba(117, 117, 117, 1);
    margin-bottom: 1rem;
}

.post-image {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*******************************************************
Individual Post page End
********************************************************/

/********************************************************
Individual Portfolio piece 
********************************************************/

.piece-container {
    margin: 3rem auto;
}

.client-name, .client-industry, .piece-details-row h2 {
    text-align: center;
}

.piece-details-row {
    display: flex;
    justify-content: space-between;
    margin: 3rem auto;
}

.piece-details-row div {
    margin: 1rem auto;
    border: 3px solid #e9ecef;
    border-radius: 10%;
    width: 350px;
    padding: 20px 20px 0;
}

.piece-details-row h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.piece-btn, .portfolio-btn {
    display: block;
    margin: 20px auto;
}

.portfolio-btn {
    margin-top: 3rem;
}

/********************************************************
Individual Portfolio piece 
********************************************************/

/*********************************************************
Contact page 
*********************************************************/

.contact-form-div {
    margin: 3rem auto;
    border-radius: .3rem;
}

.form {
    padding: 1rem 2rem;
}

/*********************************************************
Contact page End
*********************************************************/



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    /*********************************************************
    Home page 
    *********************************************************/
    .skills-container h3 {
        font-size: 20px;
    }

    .skills-item {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-size: 14px;
    }
    
    .logo {
        display: block;
        margin-bottom: 5px;
    }

    .blog-title-h {
        font-size: 28px;
    }
    
    .blog-subtitle-h {
        font-size: 18px;
    }
}

@media only screen and (min-width: 768px) {

    /*********************************************************
    Home page 
    *********************************************************/

    .nav-flex {
        display: flex;
        align-items: center;
    }

    .main-nav {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .nav-link {
        font-size: 15px;
        letter-spacing: 0;
    }
     
    .bio-section .container {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .skills-item {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .logo {
        display: inline-block;
        margin-right: 0.5rem;
    }

    /* testimonial quote */
    .card-body {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .cta-section .container {
        display: flex;
        align-items: center;
    }

    /*********************************************************
    Home page End
    *********************************************************/

    /*********************************************************
    Blog page 
    *********************************************************/
    .feature-blog-image {
        width: 80%;
        margin: initial;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    /*********************************************************
    Home page 
    *********************************************************/


    .bio-section .container {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .skills-container h3 {
        font-size: 24px;
    }

    .skills-item {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 16px;
    }

    .cta-section {
        max-width: 800px;
    }

    /*********************************************************
    Home page End
    *********************************************************/

    /*********************************************************
    Blog page 
    *********************************************************/
    .feature-blog-image {
        width: 75%;
        margin: initial;
    }

    .other-title {
        font-size: 24px;
    }
}