<!-- "partials/skills/skills" -->

<div class="container row skills-container">
    <div class="col-sm-3">
        <img src="" alt="">
        <h3>Design</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <img src="/images/svg/figma-icon.svg" alt="Figma Logo" class="figma logo">
                    Figma
                </li>
                <li class="list-group-item">
                    <img src="/images/svg/adobe-illustrator-icon.svg" alt="Adobe Illustrator Logo" class="adobe logo">
                    Adobe Illustrator
                </li>
                <li class="list-group-item">
                    <img src="/images/svg/adobe-xd.svg" alt="Adobe XD Logo" class="adobe logo">
                    Abode XD
                </li>
            </ul>
    </div>
    <div class="col-sm-3">
        <img src="" alt="">
        <h3>Front-end</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <img src="/images/svg/reactjs-icon.svg" alt="React.JS Logo" class="react logo">
                    React.JS
                </li>
                <li class="list-group-item">
                    <img src="/images/svg/bootstrap-icon.svg" alt="Bootstrap Logo" class="bootstrap logo">
                    Bootstrap
                </li>
                <li class="list-group-item">
                    <img src="/images/svg/javascript-icon.svg" alt="Javascript Logo" class="js logo">
                    ES6 Javascript
                </li>
                <li class="list-group-item">
                    <img src="/images/svg/nextjs-icon.svg" alt="Next.JS Logo" class="next logo">
                    Next.JS
                </li>
            </ul>
    </div>
    <div class="col-sm-3">
        <img src="" alt="">
        <h3>Back-end</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <img src="/images/svg/nodejs-icon.svg" alt="Node.JS Logo" class="node logo">
                    Node.JS
                </li>
                <li class="list-group-item">
                    <img src="/images/svg/expressjs-icon.svg" alt="Express.JS Logo" class="express logo">
                    Express
                </li>
                <li class="list-group-item">
                    <img src="/images/svg/ejs-icon.svg" alt="EJS Logo" class="ejs logo">
                    EJS
                </li>
                <li class="list-group-item">
                    <img src="/images/svg/mongodb-icon.svg" alt="MongoDB Logo" class="mongo logo">
                    MongoDB &amp; Atlas
                </li>
                <!-- <li class="list-group-item">
                    <img src="/images/svg/mongoose-icon.svg" alt="Mongoose Logo" class="mongoose logo">
                    Mongoose
                </li> -->
                <li class="list-group-item">
                    <img src="/images/svg/strapi.svg" alt="Strapi Logo" class="strapi logo">
                    Strapi
                </li>
            </ul>
    </div>
    <div class="col-sm-3">
        <img src="" alt="">
        <h3>Tools</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <img src="/images/svg/vscode-icon.svg" alt="Virtual Studio Code" class="vscode logo">
                    VS Code
                </li>
                <li class="list-group-item">
                    <img src="/images/svg/atom-icon.svg" alt="Atom Logo" class="atom logo">
                    Atom
                </li>
                <li class="list-group-item">
                    <img src="/images/svg/git-icon.svg" alt="Git Logo" class="git logo">
                    Git
                </li>
                <li class="list-group-item">
                    <img src="/images/svg/github-icon.svg" alt="Github Logo" class="github logo">
                    Github
                </li>
                <li class="list-group-item">
                    <img src="/images/svg/heroku-icon.svg" alt="Heroku Logo" class="heroku logo">
                    Heroku
                </li>
                <li class="list-group-item">
                    <img src="/images/svg/postman-icon.svg" alt="Postman Logo" class="postman logo">
                    Postman
                </li>
                <li class="list-group-item">
                    <img src="/images/svg/npm-icon.svg" alt="npm Logo" class="npm logo">
                    NPM
                </li>
            </ul>
    </div>
</div>